<input placeholder="Email" [(ngModel)]="email">
<br>
<br>
<input type="password" placeholder="PassWord" [(ngModel)]="password">
<br>
<br>
<button (click)="onSubmit();">Submit</button>
<!-- ngForm -->
<!-- Validate template form -->
<br>
<br>
<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
  <input placeholder="Email" #txtEmail="ngModel" ngModel name="email2" required email>
  <p *ngIf="txtEmail.touched && txtEmail.errors?.required">Email is required</p>
  <p *ngIf="txtEmail.touched && txtEmail.errors?.email">Email is not valid</p>
  <!-- formSignIn.controls.email? -->
  <br>
  <br>
  <input type="password"
   placeholder="PassWord" 
   name="password2" ngModel
   minlength="4"
   #txtPassword="ngModel" 
   pattern="[a-z]*"
    required>
  <br>
  <br>
  <!-- Xử lý checkbox và ngModelGroup -->
  <div ngModelGroup="subject">
    <label><input type="checkbox" [ngModel]="false" name="NodeJS"> NodeJS</label>
    <label><input type="checkbox" [ngModel]="false" name="Angular"> Angular</label>
    <label><input type="checkbox" [ngModel]="false" name="ReactJS"> ReactJS</label>
  </div>
  <button [disabled]="formSignIn.invalid">Submit</button>
</form>
<p>{{txtPassword.errors|json}}</p>
<p>{{formSignIn.value|json}}</p>